extend index
block website_title 
    title  خدماتنا 
block index
    div(class="sub-banner")
        div(class="container breadcrumb-area")
            div(class="breadcrumb-areas")
                h1 خدماتنا
                ul(class="breadcrumbs")
                    li
                        a(href="index.html") Home
                    li(class="active") خدماتنا
    // services-2 start
    div(class="services-2 content-area")
        div(class="container")
            // Main title
            div(class="main-title text-center")
                h1 خدماتنا
                p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
            div(class="row")
                div(class="col-lg-4 col-md-6 col-sm-12")
                    div(class="single-info")
                        div(class="number") 1
                        div(class="icon")
                            div(class="icon-inner")
                                i(class="flaticon-support-2")
                        h2
                            a(href="services.html") دعم مجاني
                        p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ  
                div(class="col-lg-4 col-md-6 col-sm-12")
                    div(class="single-info")
                        div(class="number") 2
                        div(class="icon")
                            div(class="icon-inner")
                                i(class="flaticon-speed")
                        h2
                            a(href="services.html") خدمات متميزة
                        p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ  
                div(class="col-lg-4 col-md-6 col-sm-12")
                    div(class="single-info")
                        div(class="number") 3
                        div(class="icon")
                            div(class="icon-inner")
                                i(class="flaticon-motor")
                        h2
                            a(href="services.html") الصيانة
                        p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ  
                div(class="col-lg-4 col-md-6 col-sm-12")
                    div(class="single-info")
                        div(class="number") 4
                        div(class="icon")
                            div(class="icon-inner")
                                i(class="flaticon-air-conditioner")
                        h2
                            a(href="services.html") مكيف الهواء 
                        p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ  
                div(class="col-lg-4 col-md-6 col-sm-12")
                    div(class="single-info")
                        div(class="number") 5
                        div(class="icon")
                            div(class="icon-inner")
                                i(class="flaticon-fuel")
                        h2
                            a(href="services.html") تغيير الزيت
                        p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ  
                div(class="col-lg-4 col-md-6 col-sm-12")
                    div(class="single-info")
                        div(class="number") 6
                        div(class="icon")
                            div(class="icon-inner")
                                i(class="flaticon-wheel")
                        h2
                            a(href="services.html") اصلاح الموتور
                        p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ  
    // services-2 end
    div(class="counters-1")
        div(class="container")
            div(class="row")
                div(class="col-lg-3 col-md-6 col-sm-6")
                    div(class="counter-box-1")
                        i(class="flaticon-car")
                        h1(class="counter") 967
                        h5 سيارات 
                            span مباعةى
                div(class="col-lg-3 col-md-6 col-sm-6")
                    div(class="counter-box-1")
                        i(class="flaticon-blog")
                        h1(class="counter") 1276
                        h5  مراجعات
                            span ايجابية
                div(class="col-lg-3 col-md-6 col-sm-6")
                    div(class="counter-box-1")
                        i(class="flaticon-user")
                        h1(class="counter") 396
                        h5  عملاء
                            span سعداء
                div(class="col-lg-3 col-md-6 col-sm-6")
                    div(class="counter-box-1")
                        i(class="flaticon-medal")
                        h1(class="counter") 177
                        h5    انجازات
                            span جوائز
    // Counters end
    // Service center strat
    div(class="service-center content-area-5")
        div(class="container")
            div(class="row")
                div(class="col-lg-6 align-self-center")
                    div(class="best-used-car")
                        h3 مرحبا بكم في موقعنا
                        p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ 
                        p(class="mb-0") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئهناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
                div(class="col-lg-6")
                    div(class="inside-car service-car")
                        iframe(src="https://www.youtube.com/embed/V7IrnC9MISU", allowfullscreen="")

    // Service center end
    // Pricing tables start
    //- div(class="pricing-tables content-area-3")
    //-     div(class="container")
    //-         // Main title
    //-         div(class="main-title text-center")
    //-             h1 خطة اسعارنا
    //-             p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
    //-         div(class="row")
    //-             div(class="col-xl-4 col-lg-4 col-md-12")
    //-                 div(class="pricing-1 plan")
    //-                     div(class="plan-header")
    //-                         h5 الخطة الشاملة
    //-                         p وصف موجز للخطة
    //-                         div(class="plan-price")
    //-                             sup ريال
    //-                             | 80
    //-                             span /الشهر
    //-                     div(class="plan-list")
    //-                         ul
    //-                             li
    //-                                 i(class="fa fa-globe")
    //-                                 | Unlimited Websites
    //-                             li
    //-                                 i(class="fa fa-thumbs-up")
    //-                                 | Unlimited Storage
    //-                             li
    //-                                 i(class="fa fa-signal")
    //-                                 | Unlimited Bandwidth
    //-                             li
    //-                                 i(class="fa fa-user")
    //-                                 | 1000 Email Addresses
    //-                             li
    //-                                 i(class="fa fa-star")
    //-                                 | Free domain with annual plan
    //-                             li
    //-                                 i(class="fa fa-rocket")
    //-                                 | 4X Processing Power
    //-                             li
    //-                                 i(class="fa fa-server")
    //-                                 | Premium DNS
    //-                         div(class="plan-button text-center")
    //-                             a(href="#", class="btn pricing-btn") Get Started
    //-             div(class="col-xl-4 col-lg-4 col-md-12")
    //-                 div(class="pricing-1 plan")
    //-                     div(class="plan-header")
    //-                         h5 Deluxe Plan
    //-                         p Plan short description
    //-                         div(class="plan-price")
    //-                             sup ريال
    //-                             | 80
    //-                             span /الشهر
    //-                     div(class="plan-list")
    //-                         ul
    //-                             li
    //-                                 i(class="fa fa-globe")
    //-                                 | Unlimited Websites
    //-                             li
    //-                                 i(class="fa fa-thumbs-up")
    //-                                 | Unlimited Storage
    //-                             li
    //-                                 i(class="fa fa-signal")
    //-                                 | Unlimited Bandwidth
    //-                             li
    //-                                 i(class="fa fa-user")
    //-                                 | 1000 Email Addresses
    //-                             li
    //-                                 i(class="fa fa-star")
    //-                                 | Free domain with annual plan
    //-                             li
    //-                                 i(class="fa fa-rocket")
    //-                                 | 4X Processing Power
    //-                             li
    //-                                 i(class="fa fa-server")
    //-                                 | Premium DNS
    //-                         div(class="plan-button text-center")
    //-                             a(href="#", class="btn pricing-btn") Get Started
    //-             div(class="col-xl-4 col-lg-4 col-md-12")
    //-                 div(class="pricing-1 plan")
    //-                     div(class="plan-header")
    //-                         h5 Professional Plan
    //-                         p Plan short description
    //-                         div(class="plan-price")
    //-                             sup ريال
    //-                             | 80
    //-                             span /الشهر
    //-                     div(class="plan-list")
    //-                         ul
    //-                             li
    //-                                 i(class="fa fa-globe")
    //-                                 | Unlimited Websites
    //-                             li
    //-                                 i(class="fa fa-thumbs-up")
    //-                                 | Unlimited Storage
    //-                             li
    //-                                 i(class="fa fa-signal")
    //-                                 | Unlimited Bandwidth
    //-                             li
    //-                                 i(class="fa fa-user")
    //-                                 | 1000 Email Addresses
    //-                             li
    //-                                 i(class="fa fa-star")
    //-                                 | Free domain with annual plan
    //-                             li
    //-                                 i(class="fa fa-rocket")
    //-                                 | 4X Processing Power
    //-                             li
    //-                                 i(class="fa fa-server")
    //-                                 | Premium DNS
    //-                         div(class="plan-button text-center")
    //-                             a(href="#", class="btn pricing-btn") Get Started
    // Pricing tables end
    // Contact 2 start
    div(class="contact-2 content-area-2")
        div(class="container")
            // Main title
            div(class="main-title text-center")
                h1 اطلب خدماتنا في اي وقت
                p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
            form(action="#", method="GET", enctype="multipart/form-data")
                div(class="row")
                    div(class="col-lg-7")
                        div(class="row")
                            div(class="col-md-6 text-left")
                                div(class="form-group name")
                                    input(type="text", name="name", class="form-control", placeholder="الاسم ")
                            div(class="col-md-6")
                                div(class="form-group email")
                                    input(type="email", name="email", class="form-control", placeholder="البريد الالكتروني")
                            div(class="col-md-6")
                                div(class="form-group subject")
                                    input(type="text", name="subject", class="form-control", placeholder="العنوان ")
                            div(class="col-md-6")
                                div(class="form-group number")
                                    input(type="text", name="phone", class="form-control", placeholder="رقم الهاتف")
                            div(class="col-md-12")
                                div(class="form-group message")
                                    textarea(class="form-control", name="message", placeholder="اكتب رسالتك")
                            div(class="col-md-12")
                                div(class="send-btn text-center")
                                    button(type="submit", class="btn btn-5") ارسال
                    div(class="col-lg-5")
                        div(class="contact-info-2")
                            div(class="ci-box")
                                div(class="icon")
                                    i(class="flaticon-phone")
                                div(class="detail")
                                    h5 هاتفنا:
                                    p
                                        a(href="#") 0477 8556 552
                            div(class="ci-box")
                                div(class="icon")
                                    i(class="flaticon-mail")
                                div(class="detail")
                                    h5 راسلنا علي الايميل :
                                    p
                                        a(href="#") info@themevessel.com
                            div(class="ci-box")
                                div(class="icon")
                                    i(class="flaticon-earth")
                                div(class="detail")
                                    h5 قم برزيارة موقعنا:
                                    p
                                        a(href="#") info@themevessel.com
                            div(class="ci-box mb-0")
                                div(class="icon")
                                    i(class="flaticon-fax")
                                div(class="detail")
                                    h5 عن طريق الفاكس:
                                    p
                                        a(href="#") +0477 85X6 552
    // Contact 2 end


