footer(class="footer overview-bgi")
    div(class="container footer-inner")
        div(class="row")
            div(class="col-xl-4 col-lg-3 col-md-6 col-sm-6")
                div(class="footer-item clearfix")
                    img(src="../assets/img/logos/logo.png", alt="logo", class="f-logo")
                    div(class="s-border")
                    div(class="m-border")
                    div(class="text")
                        p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم
            div(class="col-xl-3 col-lg-3 col-md-6 col-sm-6")
                div(class="footer-item clearfix")
                    h4
                        | معلومات التواصل
                    div(class="s-border")
                    div(class="m-border")
                    ul(class="contact-info")
                        li
                            i(class="flaticon-pin")
                            | المملكة العربية السعودية
                        li
                            i(class="flaticon-mail")
                            a(href="mailto:sales@hotelempire.com") info@themevessel.com
                        li
                            i(class="flaticon-phone")
                            a(href="tel:+55-417-634-7071") +0477 85X6 552
                        li
                            i(class="flaticon-fax")
                            | +0477 85X6 552
            div(class="col-xl-2 col-lg-2 col-md-6 col-sm-6")
                div(class="footer-item")
                    h4
                        | روابط مهمة 
                    div(class="s-border")
                    div(class="m-border")
                    ul(class="links")
                        li
                            a(href="index.html")
                                i(class="fa fa-angle-right")
                                | الرئيسية
                        li
                            a(href="about.html")
                                i(class="fa fa-angle-right")
                                | من نحن 
                        li
                            a(href="services.html")
                                i(class="fa fa-angle-right")
                                | الخدمات
                        li
                            a(href="carList.html")
                                i(class="fa fa-angle-right")
                                | بحث
                        li
                            a(href="contact.html")
                                i(class="fa fa-angle-right")
                                | تواصل معنا
            div(class="col-xl-3 col-lg-3 col-md-6 col-sm-6")
                div(class="footer-item clearfix")
                    h4 اشتراك
                    div(class="s-border")
                    div(class="m-border")
                    div(class="Subscribe-box")
                        p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
                        form(class="form-inline", action="#", method="GET")
                            input#inlineFormInputName3(type="text", class="form-control mb-sm-0", placeholder="البريد الالكتروني")
                            button(type="submit", class="btn")
                                i(class="fa fa-paper-plane")
    div(class="sub-footer")
        div(class="container")
            div(class="row")
                div(class="col-lg-6")
                    p(class="copy") © 2019 
                        a(href="#") دلتا 
                        | جميع الحقوق محفوظة
                div(class="col-lg-6")
                    div(class="social-list-2")
                        ul
                            li
                                a(href="#", class="facebook-bg")
                                    i(class="fa fa-facebook")
                            li
                                a(href="#", class="twitter-bg")
                                    i(class="fa fa-twitter")
                            li
                                a(href="#", class="google-bg")
                                    i(class="fa fa-google-plus")
                            li
                                a(href="#", class="linkedin-bg")
                                    i(class="fa fa-linkedin")
// Full Page Search
#full-page-search
    button(type="button", class="close") ×
    form(action="index.html#")
        input(type="search", value="", placeholder="type keyword(s) here")
        button(type="submit", class="btn btn-sm button-theme") Search
// Car Overview Modal
div(class="car-model-2")
    #carOverviewModal(class="modal fade", tabindex="-1", role="dialog", aria-labelledby="carOverviewModalLabel", aria-hidden="true")
        div(class="modal-dialog modal-lg", role="document")
            div(class="modal-content")
                div(class="modal-header")
                    #carOverviewModalLabel(class="modal-title")
                        h4 سوف نجد سياراتك
                        h5
                            i(class="flaticon-pin")
                            | نيسان 2021
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") x
                div(class="modal-body")
                    div(class="row modal-raw")
                        div(class="col-lg-6 modal-left")
                            div(class="item active")
                                img(src="../assets/img/car-11.jpg", alt="best-car", class="img-fluid")
                                div(class="sobuz")
                                    div(class="price-box")
                                        span(class="del")
                                            del ريال 950.00
                                        br
                                        span(class="del-2") ريال 1050.00
                                    div(class="ratings-2")
                                        span(class="ratings-box") 4.5/5
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star-o")
                                        | ( 7 مراجعات )
                        div(class="col-lg-6 modal-right")
                            div(class="modal-right-content")
                                section
                                    h3 المميزات
                                    div(class="features")
                                        ul(class="bullets")
                                            li Cruise Control
                                            li Airbags
                                            li Air Conditioning
                                            li Alarm System
                                            li Audio Interface
                                            li CDR Audio
                                            li Seat Heating
                                            li ParkAssist
                                section
                                    h3 Overview
                                    ul(class="bullets")
                                        li الموديل
                                        li السنة
                                        li الحالة
                                        li السعر
                                        li اوتوماتيك
                                        li 2020
                                        li جديدة
                                        li ريال 178,000
                                div(class="description")
                                    h3 الوصف
                                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
                                    a(href="car-details.html", class="btn btn-md btn-round btn-theme") مشاهدة المزيد
