doctype html
html
    head
        block website_title
            title alsumood4cars
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        include ./include/style
    body
        div(class="page_loader")
        include ./include/header
        block index 
            #banner(class="banner")
                #bannerCarousole(class="carousel slide", data-ride="carousel")
                    div(class="carousel-inner banner-slider-inner text-center")
                        div(class="carousel-item banner-max-height active item-bg")
                            img(class="d-block w-100 h-100", src="assets/img/banner/img-4.jpg", alt="banner")
                            div(class="carousel-content container banner-info-2 bi-2")
                                h2 Find your Dream Car
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                a(class="btn-3 btn-defaults", href="#")
                                    | Get Started Now
                                    i(class="arrow")
                                a(class="btn-4", href="#")
                                    span Learn More
                                    i(class="arrow")
                        div(class="carousel-item banner-max-height item-bg")
                            img(class="d-block w-100 h-100", src="assets/img/banner/img-3.jpg", alt="banner")
                            div(class="carousel-content container banner-info-2 bi-2 text-l")
                                h2 Welcome to Auto Car
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                a(class="btn-3 btn-defaults", href="#")
                                    | Get Started Now
                                    i(class="arrow")
                                a(class="btn-4", href="#")
                                    span Learn More
                                    i(class="arrow")
                        div(class="carousel-item banner-max-height item-bg")
                            img(class="d-block w-100 h-100", src="assets/img/banner/img-2.jpg", alt="banner")
                            div(class="carousel-content container banner-info-2 bi-2 text-r")
                                h2 Best place for sell car!
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                a(class="btn-3 btn-defaults", href="#")
                                    | Get Started Now
                                    i(class="arrow")
                                a(class="btn-4", href="#")
                                    span Learn More
                                    i(class="arrow")
                    a(class="carousel-control-prev none-580", href="#bannerCarousole", role="button", data-slide="prev")
                        span(class="slider-mover-left", aria-hidden="true")
                            i(class="fa fa-angle-left")
                    a(class="carousel-control-next none-580", href="#bannerCarousole", role="button", data-slide="next")
                        span(class="slider-mover-right", aria-hidden="true")
                            i(class="fa fa-angle-right")
            div(class="search-box-2")
                div(class="container")
                    div(class="row")
                        div(class="col-lg-12")
                            div(class="inline-search-area")
                                div(class="row row-3")
                                    div(class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 search-col")
                                        select(class="selectpicker search-fields", name="select-brand")
                                            option Select Brand
                                            option Audi
                                            option BMW
                                            option Honda
                                            option Nissan
                                    div(class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 search-col")
                                        select(class="selectpicker search-fields", name="select-make")
                                            option Select Make
                                            option BMW
                                            option Honda
                                            option Lamborghini
                                            option Sports Car
                                    div(class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 search-col")
                                        select(class="selectpicker search-fields", name="select-location")
                                            option Select Location
                                            option United States
                                            option United Kingdom
                                    div(class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 search-col")
                                        select(class="selectpicker search-fields", name="select-year")
                                            option Select Year
                                            option 2016
                                            option 2017
                                            option 2018
                                            option 2019
                                    div(class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 search-col")
                                        select(class="selectpicker search-fields", name="select-type")
                                            option Select Type Of Car
                                            option New Car
                                            option Used Car
                                    div(class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 search-col")
                                        button(class="btn white-btn btn-search btn-block")
                                            i(class="fa fa-search")
                                            strong Find
            div(class="featured-car content-area")
                div(class="container")
                    // Main title
                    div(class="main-title")
                        h1 Featured Car
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    div(class="row")
                        div(class="col-lg-4 col-md-6")
                            div(class="car-box-3")
                                div(class="car-thumbnail")
                                    a(href="car-details.html", class="car-img")
                                        div(class="for") For Sale
                                        div(class="price-box")
                                            span(class="del")
                                                del $950.00
                                            br
                                            span $1050.00
                                        img(class="d-block w-100", src="assets/img/car/car-1.jpg", alt="car")
                                    div(class="carbox-overlap-wrapper")
                                        div(class="overlap-box")
                                            div(class="overlap-btns-area")
                                                a(class="overlap-btn", data-toggle="modal", data-target="#carOverviewModal")
                                                    i(class="fa fa-eye-slash")
                                                a(class="overlap-btn wishlist-btn")
                                                    i(class="fa fa-heart-o")
                                                a(class="overlap-btn compare-btn")
                                                    i(class="fa fa-balance-scale")
                                                div(class="car-magnify-gallery")
                                                    a(href="assets/img/car/car-1.jpg", class="overlap-btn", data-sub-html="<h4>Lamborghini</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        i(class="fa fa-expand")
                                                        img(class="hidden", src="assets/img/car/car-1.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-2.jpg", class="hidden", data-sub-html="<h4>Ferrari Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-2.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-3.jpg", class="hidden", data-sub-html="<h4>Bmw e46 m3 Diski Serie</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-3.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-4.jpg", class="hidden", data-sub-html="<h4>Volkswagen Scirocco 2016</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-4.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-5.jpg", class="hidden", data-sub-html="<h4>Porsche Cayen Last</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-5.jpg", alt="hidden-img")
                                div(class="detail")
                                    h1(class="title")
                                        a(href="car-details.html") Lamborghini
                                    ul(class="custom-list")
                                        li
                                            a(href="#") New Car
                                            | /
                                        li
                                            a(href="#") Automatic
                                            | /
                                        li
                                            a(href="#") Sports
                                    ul(class="facilities-list clearfix")
                                        li
                                            i(class="flaticon-fuel")
                                            | Petrol
                                        li
                                            i(class="flaticon-way")
                                            | 4,000 km
                                        li
                                            i(class="flaticon-manual-transmission")
                                            | Manual
                                        li
                                            i(class="flaticon-car")
                                            | Sport
                                        li
                                            i(class="flaticon-gear")
                                            | Blue
                                        li
                                            i(class="flaticon-calendar-1")
                                            | 2019
                                div(class="footer clearfix")
                                    div(class="pull-left ratings")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star-o")
                                        span (65 Reviews)
                                    ul(class="pull-right icon")
                                        li
                                            a(href="#")
                                                i(class="fa fa-heart-o")
                                        li
                                            a(href="#")
                                                i(class="fa fa-share-square-o")
                        div(class="col-lg-4 col-md-6")
                            div(class="car-box-3")
                                div(class="car-thumbnail")
                                    a(href="car-details.html", class="car-img")
                                        div(class="tag-2 bg-active") Featured
                                        div(class="price-box")
                                            span(class="del")
                                                del $805.00
                                            br
                                            span $780.00
                                        img(class="d-block w-100", src="assets/img/car/car-2.jpg", alt="car")
                                    div(class="carbox-overlap-wrapper")
                                        div(class="overlap-box")
                                            div(class="overlap-btns-area")
                                                a(class="overlap-btn", data-toggle="modal", data-target="#carOverviewModal")
                                                    i(class="fa fa-eye-slash")
                                                a(class="overlap-btn wishlist-btn")
                                                    i(class="fa fa-heart-o")
                                                a(class="overlap-btn compare-btn")
                                                    i(class="fa fa-balance-scale")
                                                div(class="car-magnify-gallery")
                                                    a(href="assets/img/car/car-2.jpg", class="overlap-btn", data-sub-html="<h4>Ferrari Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        i(class="fa fa-expand")
                                                        img(class="hidden", src="assets/img/car/car-2.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-1.jpg", class="hidden", data-sub-html="<h4>Ferrari Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-1.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-3.jpg", class="hidden", data-sub-html="<h4>Bmw e46 m3 Diski Serie</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-3.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-4.jpg", class="hidden", data-sub-html="<h4>Volkswagen Scirocco 2016</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-4.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-5.jpg", class="hidden", data-sub-html="<h4>Porsche Cayen Last</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-5.jpg", alt="hidden-img")
                                div(class="detail")
                                    h1(class="title")
                                        a(href="car-details.html") Ferrari Red Car
                                    ul(class="custom-list")
                                        li
                                            a(href="#") New Car
                                            | /
                                        li
                                            a(href="#") Automatic
                                            | /
                                        li
                                            a(href="#") Sports
                                    ul(class="facilities-list clearfix")
                                        li
                                            i(class="flaticon-fuel")
                                            | Petrol
                                        li
                                            i(class="flaticon-way")
                                            | 4,000 km
                                        li
                                            i(class="flaticon-manual-transmission")
                                            | Manual
                                        li
                                            i(class="flaticon-car")
                                            | Sport
                                        li
                                            i(class="flaticon-gear")
                                            | Blue
                                        li
                                            i(class="flaticon-calendar-1")
                                            | 2019
                                div(class="footer clearfix")
                                    div(class="pull-left ratings")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star-o")
                                        span (65 Reviews)
                                    ul(class="pull-right icon")
                                        li
                                            a(href="#")
                                                i(class="fa fa-heart-o")
                                        li
                                            a(href="#")
                                                i(class="fa fa-share-square-o")
                        div(class="col-lg-4 col-md-6")
                            div(class="car-box-3")
                                div(class="car-thumbnail")
                                    a(href="car-details.html", class="car-img")
                                        div(class="for") For Rent
                                        div(class="price-box")
                                            span(class="del")
                                                del $830.00
                                            br
                                            span $940.00
                                        img(class="d-block w-100", src="assets/img/car/car-3.jpg", alt="car")
                                    div(class="carbox-overlap-wrapper")
                                        div(class="overlap-box")
                                            div(class="overlap-btns-area")
                                                a(class="overlap-btn", data-toggle="modal", data-target="#carOverviewModal")
                                                    i(class="fa fa-eye-slash")
                                                a(class="overlap-btn wishlist-btn")
                                                    i(class="fa fa-heart-o")
                                                a(class="overlap-btn compare-btn")
                                                    i(class="fa fa-balance-scale")
                                                div(class="car-magnify-gallery")
                                                    a(href="assets/img/car/car-3.jpg", class="overlap-btn", data-sub-html="<h4>Bmw e46 m3 Diski Serie</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        i(class="fa fa-expand")
                                                        img(class="hidden", src="assets/img/car/car-3.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-2.jpg", class="hidden", data-sub-html="<h4>Ferrari Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-2.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-1.jpg", class="hidden", data-sub-html="<h4>Lamborghini</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-1.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-4.jpg", class="hidden", data-sub-html="<h4>Volkswagen Scirocco 2016</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-4.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-5.jpg", class="hidden", data-sub-html="<h4>Porsche Cayen Last</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-5.jpg", alt="hidden-img")
                                div(class="detail")
                                    h1(class="title")
                                        a(href="car-details.html") Bmw e46 m3 Diski Serie
                                    ul(class="custom-list")
                                        li
                                            a(href="#") New Car
                                            | /
                                        li
                                            a(href="#") Automatic
                                            | /
                                        li
                                            a(href="#") Sports
                                    ul(class="facilities-list clearfix")
                                        li
                                            i(class="flaticon-fuel")
                                            | Petrol
                                        li
                                            i(class="flaticon-way")
                                            | 4,000 km
                                        li
                                            i(class="flaticon-manual-transmission")
                                            | Manual
                                        li
                                            i(class="flaticon-car")
                                            | Sport
                                        li
                                            i(class="flaticon-gear")
                                            | Blue
                                        li
                                            i(class="flaticon-calendar-1")
                                            | 2019
                                div(class="footer clearfix")
                                    div(class="pull-left ratings")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star-o")
                                        span (65 Reviews)
                                    ul(class="pull-right icon")
                                        li
                                            a(href="#")
                                                i(class="fa fa-heart-o")
                                        li
                                            a(href="#")
                                                i(class="fa fa-share-square-o")
                        div(class="col-lg-4 col-md-6")
                            div(class="car-box-3")
                                div(class="car-thumbnail")
                                    a(href="car-details.html", class="car-img")
                                        div(class="tag-2 bg-active") Featured
                                        div(class="price-box")
                                            span(class="del")
                                                del $950.00
                                            br
                                            span $1050.00
                                        img(class="d-block w-100", src="assets/img/car/car-4.jpg", alt="car")
                                    div(class="carbox-overlap-wrapper")
                                        div(class="overlap-box")
                                            div(class="overlap-btns-area")
                                                a(class="overlap-btn", data-toggle="modal", data-target="#carOverviewModal")
                                                    i(class="fa fa-eye-slash")
                                                a(class="overlap-btn wishlist-btn")
                                                    i(class="fa fa-heart-o")
                                                a(class="overlap-btn compare-btn")
                                                    i(class="fa fa-balance-scale")
                                                div(class="car-magnify-gallery")
                                                    a(href="assets/img/car/car-4.jpg", class="overlap-btn", data-sub-html="<h4>Volkswagen Scirocco 2016</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        i(class="fa fa-expand")
                                                        img(class="hidden", src="assets/img/car/car-4.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-2.jpg", class="hidden", data-sub-html="<h4>Ferrari Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-2.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-3.jpg", class="hidden", data-sub-html="<h4>Bmw e46 m3 Diski Serie</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-3.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-1.jpg", class="hidden", data-sub-html="<h4>Lamborghini</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-1.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-5.jpg", class="hidden", data-sub-html="<h4>Porsche Cayen Last</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-5.jpg", alt="hidden-img")
                                div(class="detail")
                                    h1(class="title")
                                        a(href="car-details.html") Volkswagen Scirocco 2016
                                    ul(class="custom-list")
                                        li
                                            a(href="#") New Car
                                            | /
                                        li
                                            a(href="#") Automatic
                                            | /
                                        li
                                            a(href="#") Sports
                                    ul(class="facilities-list clearfix")
                                        li
                                            i(class="flaticon-fuel")
                                            | Petrol
                                        li
                                            i(class="flaticon-way")
                                            | 4,000 km
                                        li
                                            i(class="flaticon-manual-transmission")
                                            | Manual
                                        li
                                            i(class="flaticon-car")
                                            | Sport
                                        li
                                            i(class="flaticon-gear")
                                            | Blue
                                        li
                                            i(class="flaticon-calendar-1")
                                            | 2019
                                div(class="footer clearfix")
                                    div(class="pull-left ratings")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star-o")
                                        span (65 Reviews)
                                    ul(class="pull-right icon")
                                        li
                                            a(href="#")
                                                i(class="fa fa-heart-o")
                                        li
                                            a(href="#")
                                                i(class="fa fa-share-square-o")
                        div(class="col-lg-4 col-md-6")
                            div(class="car-box-3")
                                div(class="car-thumbnail")
                                    a(href="car-details.html", class="car-img")
                                        div(class="for") For Sale
                                        div(class="price-box")
                                            span(class="del")
                                                del $805.00
                                            br
                                            span $780.00
                                        img(class="d-block w-100", src="assets/img/car/car-5.jpg", alt="car")
                                    div(class="carbox-overlap-wrapper")
                                        div(class="overlap-box")
                                            div(class="overlap-btns-area")
                                                a(class="overlap-btn", data-toggle="modal", data-target="#carOverviewModal")
                                                    i(class="fa fa-eye-slash")
                                                a(class="overlap-btn wishlist-btn")
                                                    i(class="fa fa-heart-o")
                                                a(class="overlap-btn compare-btn")
                                                    i(class="fa fa-balance-scale")
                                                div(class="car-magnify-gallery")
                                                    a(href="assets/img/car/car-5.jpg", class="overlap-btn", data-sub-html="<h4>Porsche Cayen Last</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        i(class="fa fa-expand")
                                                        img(class="hidden", src="assets/img/car/car-5.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-2.jpg", class="hidden", data-sub-html="<h4>Ferrari Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-2.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-3.jpg", class="hidden", data-sub-html="<h4>Bmw e46 m3 Diski Serie</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-3.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-4.jpg", class="hidden", data-sub-html="<h4>Volkswagen Scirocco 2016</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-4.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-1.jpg", class="hidden", data-sub-html="<h4>Lamborghini</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-1.jpg", alt="hidden-img")
                                div(class="detail")
                                    h1(class="title")
                                        a(href="car-details.html") Porsche Cayen Last
                                    ul(class="custom-list")
                                        li
                                            a(href="#") New Car
                                            | /
                                        li
                                            a(href="#") Automatic
                                            | /
                                        li
                                            a(href="#") Sports
                                    ul(class="facilities-list clearfix")
                                        li
                                            i(class="flaticon-fuel")
                                            | Petrol
                                        li
                                            i(class="flaticon-way")
                                            | 4,000 km
                                        li
                                            i(class="flaticon-manual-transmission")
                                            | Manual
                                        li
                                            i(class="flaticon-car")
                                            | Sport
                                        li
                                            i(class="flaticon-gear")
                                            | Blue
                                        li
                                            i(class="flaticon-calendar-1")
                                            | 2019
                                div(class="footer clearfix")
                                    div(class="pull-left ratings")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star-o")
                                        span (65 Reviews)
                                    ul(class="pull-right icon")
                                        li
                                            a(href="#")
                                                i(class="fa fa-heart-o")
                                        li
                                            a(href="#")
                                                i(class="fa fa-share-square-o")
                        div(class="col-lg-4 col-md-6")
                            div(class="car-box-3")
                                div(class="car-thumbnail")
                                    a(href="car-details.html", class="car-img")
                                        div(class="tag-2 bg-active") Featured
                                        div(class="price-box")
                                            span(class="del")
                                                del $830.00
                                            br
                                            span $940.00
                                        img(class="d-block w-100", src="assets/img/car/car-6.jpg", alt="car")
                                    div(class="carbox-overlap-wrapper")
                                        div(class="overlap-box")
                                            div(class="overlap-btns-area")
                                                a(class="overlap-btn", data-toggle="modal", data-target="#carOverviewModal")
                                                    i(class="fa fa-eye-slash")
                                                a(class="overlap-btn wishlist-btn")
                                                    i(class="fa fa-heart-o")
                                                a(class="overlap-btn compare-btn")
                                                    i(class="fa fa-balance-scale")
                                                div(class="car-magnify-gallery")
                                                    a(href="assets/img/car/car-6.jpg", class="overlap-btn", data-sub-html="<h4>Lexus GS F</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        i(class="fa fa-expand")
                                                        img(class="hidden", src="assets/img/car/car-6.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-2.jpg", class="hidden", data-sub-html="<h4>Ferrari Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-2.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-3.jpg", class="hidden", data-sub-html="<h4>Bmw e46 m3 Diski Serie</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-3.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-4.jpg", class="hidden", data-sub-html="<h4>Volkswagen Scirocco 2016</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-4.jpg", alt="hidden-img")
                                                    a(href="assets/img/car/car-1.jpg", class="hidden", data-sub-html="<h4>Lamborghini</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>")
                                                        img(class="hidden", src="assets/img/car/car-1.jpg", alt="hidden-img")
                                div(class="detail")
                                    h1(class="title")
                                        a(href="car-details.html") Lexus GS F
                                    ul(class="custom-list")
                                        li
                                            a(href="#") New Car
                                            | /
                                        li
                                            a(href="#") Automatic
                                            | /
                                        li
                                            a(href="#") Sports
                                    ul(class="facilities-list clearfix")
                                        li
                                            i(class="flaticon-fuel")
                                            | Petrol
                                        li
                                            i(class="flaticon-way")
                                            | 4,000 km
                                        li
                                            i(class="flaticon-manual-transmission")
                                            | Manual
                                        li
                                            i(class="flaticon-car")
                                            | Sport
                                        li
                                            i(class="flaticon-gear")
                                            | Blue
                                        li
                                            i(class="flaticon-calendar-1")
                                            | 2019
                                div(class="footer clearfix")
                                    div(class="pull-left ratings")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star-o")
                                        span (65 Reviews)
                                    ul(class="pull-right icon")
                                        li
                                            a(href="#")
                                                i(class="fa fa-heart-o")
                                        li
                                            a(href="#")
                                                i(class="fa fa-share-square-o")

            // Service section start
            div(class="service-section content-area-2")
                div(class="container")
                    // Main title
                    div(class="main-title text-center")
                        h1 We Are The Best
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    div(class="row")
                        div(class="col-lg-3 col-md-6 col-sm-12")
                            div(class="service-info-2")
                                div(class="icon")
                                    i(class="flaticon-shield")
                                h3 Highly Secured
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt Lorem ipsum dolor sit amet
                                a(href="services.html", class="read-more")
                                    | Read More
                        div(class="col-lg-3 col-md-6 col-sm-12")
                            div(class="service-info-2")
                                div(class="icon")
                                    i(class="flaticon-deal")
                                h3 Trusted Agents
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt Lorem ipsum dolor sit amet
                                a(href="services.html", class="read-more")
                                    | Read More
                        div(class="col-lg-3 col-md-6 col-sm-12")
                            div(class="service-info-2")
                                div(class="icon")
                                    i(class="flaticon-money")
                                h3 Get an Offer
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt Lorem ipsum dolor sit amet
                                a(href="services.html", class="read-more")
                                    | Read More
                        div(class="col-lg-3 col-md-6 col-sm-12")
                            div(class="service-info-2")
                                div(class="icon")
                                    i(class="flaticon-support-2")
                                h3 Free Support
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt Lorem ipsum dolor sit amet
                                a(href="services.html", class="read-more")
                                    | Read More
                        div(class="col-lg-12 text-center")
                            a(href="services.html", class="btn-5") Read More
            // Service section end

            // Latest offers section strat
            div(class="latest-offers-section content-area-7")
                div(class="container")
                    // Main title
                    div(class="main-title text-center")
                        h1 Latest Offers
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    div(class="row")
                        div(class="col-lg-7 col-md-12 col-sm-12")
                            div(class="row")
                                div(class="col-md-12 col-sm-12 col-pad")
                                    div(class="latest-offers-box")
                                        div(class="latest-offers-box-inner")
                                            div(class="latest-offers-box-overflow")
                                                div(class="latest-offers-box-photo")
                                                    img(class="img-fluid", src="assets/img/latest-offers/img-1.jpg", alt="latest-offers")
                                                div(class="info")
                                                    div(class="price-box-2")
                                                        sup $
                                                        | 650
                                                        span /month
                                                    h3
                                                        a(href="car-details.html") Toyota Prius
                                                div(class="new") New
                                div(class="col-md-6 col-sm-12 col-pad")
                                    div(class="latest-offers-box")
                                        div(class="latest-offers-box-inner")
                                            div(class="latest-offers-box-overflow")
                                                div(class="latest-offers-box-photo")
                                                    img(class="img-fluid", src="assets/img/latest-offers/img-2.jpg", alt="latest-offers")
                                                div(class="info")
                                                    div(class="price-box-2")
                                                        sup $
                                                        | 740
                                                        span /month
                                                    h3
                                                        a(href="car-details.html") Lamborghini Huracan
                                                div(class="new") New
                                div(class="col-md-6 col-sm-12 col-pad")
                                    div(class="latest-offers-box")
                                        div(class="latest-offers-box-inner")
                                            div(class="latest-offers-box-overflow")
                                                div(class="latest-offers-box-photo")
                                                    img(class="img-fluid", src="assets/img/latest-offers/img-3.jpg", alt="latest-offers")
                                                div(class="info")
                                                    div(class="price-box-2")
                                                        sup $
                                                        | 950
                                                        span /month
                                                    h3(class="category-title")
                                                        a(href="car-details.html") Lamborghini
                                                div(class="new") New
                        div(class="col-lg-5 col-md-12 col-sm-12 col-pad")
                            div(class="latest-offers-box")
                                div(class="latest-offers-box-inner")
                                    div(class="latest-offers-box-overflow")
                                        div(class="latest-offers-box-photo")
                                            div(class="latest-offers-box-photodd")
                                                img(class="img-fluid big-img", src="assets/img/latest-offers/img-4.jpg", alt="latest-offers")
                                        div(class="info")
                                            div(class="price-box-2")
                                                sup $
                                                | 480
                                                span /month
                                            h3(class="category-title")
                                                a(href="car-details.html") Red ferrari Car 2018
                                        div(class="new") New
            // Latest offers section end
            // Counters strat
            div(class="counters-1")
                div(class="container")
                    div(class="row")
                        div(class="col-lg-3 col-md-6 col-sm-6")
                            div(class="counter-box-1")
                                i(class="flaticon-car")
                                h1(class="counter") 967
                                h5 Total 
                                    span Cars
                        div(class="col-lg-3 col-md-6 col-sm-6")
                            div(class="counter-box-1")
                                i(class="flaticon-blog")
                                h1(class="counter") 1276
                                h5 Dealer 
                                    span Reviews
                        div(class="col-lg-3 col-md-6 col-sm-6")
                            div(class="counter-box-1")
                                i(class="flaticon-user")
                                h1(class="counter") 396
                                h5 Happy 
                                    span Clients
                        div(class="col-lg-3 col-md-6 col-sm-6")
                            div(class="counter-box-1")
                                i(class="flaticon-medal")
                                h1(class="counter") 177
                                h5  award 
                                    span winning
            // Counters end
            // Our team start
            div(class="our-team content-area")
                div(class="container")
                    // Main title
                    div(class="main-title")
                        h1 Our Agent
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    // Slick slider area start
                    div(class="slick-slider-area clearfix")
                        div(class="row slick-carousel", data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}')
                            div(class="slick-slide-item")
                                div(class="team-3")
                                    div(class="team-thumb")
                                        a(href="#")
                                            img(src="assets/img/avatar/avatar-11.jpg", alt="agent-2", class="img-fluid")
                                        div(class="team-social flex-middle")
                                            div(class="team-overlay")
                                            div(class="team-social-inner")
                                                a(rel="nofollow", href="#", class="facebook")
                                                    i(class="fa fa-facebook", aria-hidden="true")
                                                a(rel="nofollow", href="#", class="twitter")
                                                    i(class="fa fa-twitter", aria-hidden="true")
                                                a(rel="nofollow", href="#", class="google")
                                                    i(class="fa fa-google", aria-hidden="true")
                                                a(rel="nofollow", href="#", class="linkedin")
                                                    i(class="fa fa-linkedin", aria-hidden="true")
                                    div(class="team-info")
                                        h4
                                            a(href="agent-detail.html") John Pitarshon
                                        h5 Creative Director
                                        h6 +1 204 777 0187
                            div(class="slick-slide-item")
                                div(class="team-3")
                                    div(class="team-thumb")
                                        a(href="#")
                                            img(src="assets/img/avatar/avatar-9.jpg", alt="team-3", class="img-fluid")
                                        div(class="team-social flex-middle")
                                            div(class="team-overlay")
                                            div(class="team-social-inner")
                                                a(rel="nofollow", href="#", class="facebook")
                                                    i(class="fa fa-facebook", aria-hidden="true")
                                                a(rel="nofollow", href="#", class="twitter")
                                                    i(class="fa fa-twitter", aria-hidden="true")
                                                a(rel="nofollow", href="#", class="google")
                                                    i(class="fa fa-google", aria-hidden="true")
                                                a(rel="nofollow", href="#", class="linkedin")
                                                    i(class="fa fa-linkedin", aria-hidden="true")
                                    div(class="team-info")
                                        h4
                                            a(href="agent-detail.html") Michelle Nelson
                                        h5 Support Manager
                                        h6 +1 204 777 0187
                            div(class="slick-slide-item")
                                div(class="team-3")
                                    div(class="team-thumb")
                                        a(href="#")
                                            img(src="assets/img/avatar/avatar-11.jpg", alt="team-3", class="img-fluid")
                                        div(class="team-social flex-middle")
                                            div(class="team-overlay")
                                            div(class="team-social-inner")
                                                a(rel="nofollow", href="#", class="facebook")
                                                    i(class="fa fa-facebook", aria-hidden="true")
                                                a(rel="nofollow", href="#", class="twitter")
                                                    i(class="fa fa-twitter", aria-hidden="true")
                                                a(rel="nofollow", href="#", class="google")
                                                    i(class="fa fa-google", aria-hidden="true")
                                                a(rel="nofollow", href="#", class="linkedin")
                                                    i(class="fa fa-linkedin", aria-hidden="true")
                                    div(class="team-info")
                                        h4
                                            a(href="agent-detail.html") Martin Smith
                                        h5 Web Developer
                                        h6 +1 204 777 0187
                            div(class="slick-slide-item")
                                div(class="team-3")
                                    div(class="team-thumb")
                                        a(href="#")
                                            img(src="assets/img/avatar/avatar-12.jpg", alt="team-3", class="img-fluid")
                                        div(class="team-social flex-middle")
                                            div(class="team-overlay")
                                            div(class="team-social-inner")
                                                a(rel="nofollow", href="#", class="facebook")
                                                    i(class="fa fa-facebook", aria-hidden="true")
                                                a(rel="nofollow", href="#", class="twitter")
                                                    i(class="fa fa-twitter", aria-hidden="true")
                                                a(rel="nofollow", href="#", class="google")
                                                    i(class="fa fa-google", aria-hidden="true")
                                                a(rel="nofollow", href="#", class="linkedin")
                                                    i(class="fa fa-linkedin", aria-hidden="true")
                                    div(class="team-info")
                                        h4
                                            a(href="agent-detail.html") Stone Carolyn
                                        h5 Creative Director
                                        h6 +1 204 777 0187
            // Our team end
            // Testimonial 3 start
            div(class="testimonial-3")
                div(class="container")
                    div(class="row")
                        div(class="col-lg-12")
                            // Main title
                            div(class="main-title")
                                h1 Our Testimonial
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                        div(class="col-lg-12")
                            // Slick slider area start
                            div(class="slick-slider-area")
                                div(class="row slick-carousel", data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 1}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}')
                                    div(class="slick-slide-item")
                                        div(class="testimonial-item-new")
                                            div(class="author-img fix")
                                                div(class="author-avatar")
                                                    img(src="assets/img/avatar/avatar-1.jpg", alt="testimonial-5")
                                                    div(class="icon")
                                                        i(class="fa fa-quote-right")
                                            div(class="author-content")
                                                h5(class="left-line pl-40") Somalia Silva, 
                                                    span(class="desig") Manager
                                            p But I must explain to you how all this mistake denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual
                                            div(class="rating")
                                                i(class="fa fa-star")
                                                i(class="fa fa-star")
                                                i(class="fa fa-star")
                                                i(class="fa fa-star")
                                                i(class="fa fa-star-half-full")
                                    div(class="slick-slide-item")
                                        div(class="testimonial-item-new")
                                            div(class="author-img fix")
                                                div(class="author-avatar")
                                                    img(src="assets/img/avatar/avatar-1.jpg", alt="testimonial-5")
                                                    div(class="icon")
                                                        i(class="fa fa-quote-right")
                                            div(class="author-content")
                                                h5(class="left-line pl-40") Michelle Nelson, 
                                                    span(class="desig") Consultant
                                            p But I must explain to you how all this mistake denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual
                                            div(class="rating")
                                                i(class="fa fa-star")
                                                i(class="fa fa-star")
                                                i(class="fa fa-star")
                                                i(class="fa fa-star")
                                                i(class="fa fa-star-half-full")
                                    div(class="slick-slide-item")
                                        div(class="testimonial-item-new")
                                            div(class="author-img fix")
                                                div(class="author-avatar")
                                                    img(src="assets/img/avatar/avatar-3.jpg", alt="testimonial-5")
                                                    div(class="icon")
                                                        i(class="fa fa-quote-right")
                                            div(class="author-content")
                                                h5(class="left-line pl-40") Carolyn Stone, 
                                                    span(class="desig") Designer
                                            p But I must explain to you how all this mistake denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual
                                            div(class="rating")
                                                i(class="fa fa-star")
                                                i(class="fa fa-star")
                                                i(class="fa fa-star")
                                                i(class="fa fa-star")
                                                i(class="fa fa-star-half-full")
            // Testimonial 3 end
            // Blog start
            div(class="blog content-area")
                div(class="container")
                    // Main title
                    div(class="main-title")
                        h1 Our Blog
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    // Slick slider area start
                    div(class="slick-slider-area")
                        div(class="row slick-carousel", data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}')
                            div(class="slick-slide-item")
                                div(class="blog-3")
                                    div(class="blog-image")
                                        img(src="assets/img/car/car-1.jpg", alt="blog", class="img-fluid bp")
                                        div(class="date-box-2 db-2") 14 Aug
                                        div(class="post-meta clearfix")
                                            span
                                                a(href="#")
                                                    i(class="flaticon-user-1")
                                                | Admin
                                            span
                                                a(href="#")
                                                    i(class="flaticon-comment")
                                                | 17K
                                            span
                                                a(href="#")
                                                    i(class="flaticon-calendar")
                                                | 73k
                                    div(class="detail")
                                        h3
                                            a(href="blog-details.html") Buying a Best Sports Car
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s
                                        a(href="blog-details.html", class="b-btn") Rea more...!
                            div(class="slick-slide-item")
                                div(class="blog-3")
                                    div(class="blog-image")
                                        img(src="assets/img/car/car-1.jpg", alt="blog-3", class="img-fluid bp")
                                        div(class="date-box-2 db-2") 27 Nov
                                        div(class="post-meta clearfix")
                                            span
                                                a(href="#")
                                                    i(class="flaticon-user-1")
                                                | Admin
                                            span
                                                a(href="#")
                                                    i(class="flaticon-comment")
                                                | 17K
                                            span
                                                a(href="#")
                                                    i(class="flaticon-calendar")
                                                | 73k
                                    div(class="detail")
                                        h3
                                            a(href="blog-details.html") Selling Your New Cars?
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s
                                        a(href="blog-details.html", class="b-btn") Rea more...!
                            div(class="slick-slide-item")
                                div(class="blog-3")
                                    div(class="blog-image")
                                        img(src="assets/img/car/car-1.jpg", alt="blog-3", class="img-fluid bp")
                                        div(class="date-box-2 db-2") 09 Sep
                                        div(class="post-meta clearfix")
                                            span
                                                a(href="#")
                                                    i(class="flaticon-user-1")
                                                | Admin
                                            span
                                                a(href="#")
                                                    i(class="flaticon-comment")
                                                | 17K
                                            span
                                                a(href="#")
                                                    i(class="flaticon-calendar")
                                                | 73k
                                    div(class="detail")
                                        h3
                                            a(href="blog-details.html") Find Your Dream Car
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s
                                        a(href="blog-details.html", class="b-btn") Rea more...!
                            div(class="slick-slide-item")
                                div(class="blog-3")
                                    div(class="blog-image")
                                        img(src="assets/img/car/car-1.jpg", alt="blog-3", class="img-fluid bp")
                                        div(class="date-box-2 db-2") 08 Nov
                                        div(class="post-meta clearfix")
                                            span
                                                a(href="#")
                                                    i(class="flaticon-user-1")
                                                | Admin
                                            span
                                                a(href="#")
                                                    i(class="flaticon-comment")
                                                | 17K
                                            span
                                                a(href="#")
                                                    i(class="flaticon-calendar")
                                                | 73k
                                    div(class="detail")
                                        h3
                                            a(href="blog-details.html") Find Your Dream Car
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s
                                        a(href="blog-details.html", class="b-btn") Rea more...!
            // Blog end
            // Partners strat
            div(class="partners")
                div(class="container")
                    div(class="slick-slider-area")
                        div(class="row slick-carousel", data-slick='{"slidesToShow": 5, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 3}}, {"breakpoint": 768,"settings":{"slidesToShow": 2}}]}')
                            div(class="slick-slide-item")
                                img(src="assets/img/brand/brand-1.png", alt="brand", class="img-fluid")
                            div(class="slick-slide-item")
                                img(src="assets/img/brand/brand-2.png", alt="brand", class="img-fluid")
                            div(class="slick-slide-item")
                                img(src="assets/img/brand/brand-3.png", alt="brand", class="img-fluid")
                            div(class="slick-slide-item")
                                img(src="assets/img/brand/brand-4.png", alt="brand", class="img-fluid")
                            div(class="slick-slide-item")
                                img(src="assets/img/brand/brand-1.png", alt="brand", class="img-fluid")
                            div(class="slick-slide-item")
                                img(src="assets/img/brand/brand-2.png", alt="brand", class="img-fluid")
                            div(class="slick-slide-item")
                                img(src="assets/img/brand/brand-3.png", alt="brand", class="img-fluid")
                            div(class="slick-slide-item")
                                img(src="assets/img/brand/brand-4.png", alt="brand", class="img-fluid")
            // Partners end




    include ./include/footer
    include ./include/script

