// Top header start
header#top-header-2(class="top-header bg-active")
    div(class="container")
        div(class="row")
            div(class="col-lg-6 col-md-8 col-sm-7")
                div(class="list-inline")
                    a(href="tel:1-8X0-666-8X88")
                        i(class="fa fa-phone")
                        | Need Support? 1-8X0-666-8X88
                    a(href="tel:info@themevessel.com")
                        i(class="fa fa-envelope")
                        | info@themevessel.com
            div(class="col-lg-6 col-md-4 col-sm-5")
                ul(class="top-social-media pull-right")
                    li
                        a(href="login.html", class="sign-in")
                            i(class="fa fa-sign-in")
                            |  Login
                    li
                        a(href="signup.html", class="sign-in")
                            i(class="fa fa-user")
                            |  Register
// Top header end
// Main header start
header(class="main-header sticky-header sh-2")
    div(class="container")
        nav(class="navbar navbar-expand-lg navbar-light")
            a(class="navbar-brand company-logo-2", href="index.html")
                img(src="assets/img/logos/black-logo.png", alt="logo")
            button#drawer(class="navbar-toggler", type="button")
                span(class="fa fa-bars")
            #navbar(class="navbar-collapse collapse w-100")
                ul(class="navbar-nav ml-auto")
                    li(class="nav-item dropdown")
                        a(class="nav-link", href="index.html") Home
                    li(class="nav-item dropdown")
                        a(class="nav-link", href="about.html") About              
                    li(class="nav-item dropdown")
                        a(class="nav-link", href="gallery.html") Gallery             
                    li(class="nav-item dropdown")
                        a(class="nav-link", href="services.html") Services             
                    li(class="nav-item dropdown")
                        a(class="nav-link", href="carList.html") Shop            
                    li(class="nav-item dropdown")
                        a(class="nav-link", href="car-details.html") Car Details            
                    li(class="nav-item dropdown")
                        a(class="nav-link", href="shop-cart.html") Cart            
                    li(class="nav-item dropdown")
                        a(class="nav-link", href="shop-checkout.html") Checkout
                    li(class="nav-item dropdown active")
                        a#navbarDropdownMenuLink(class="nav-link dropdown-toggle", href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                            | Language
                        ul(class="dropdown-menu", aria-labelledby="navbarDropdownMenuLink")
                            li
                                a(class="dropdown-item", href="index.html") English 
                            li
                                a(class="dropdown-item", href="arabic/index.html") العربية    
                    li(class="nav-item dropdown")
                        a(href="#full-page-search", class="nav-link h-icon")
                            i(class="fa fa-search")
// Main header end
nav#sidebar(class="nav-sidebar")
    // Close btn
    #dismiss
        i(class="fa fa-close")
    div(class="sidebar-inner")
        div(class="sidebar-logo")
            a(href="index.html")
                img(src="assets/img/logos/black-logo.png", alt="sidebarlogo")
        div(class="sidebar-navigation")
            ul(class="menu-list")
                li(class="nav-item dropdown")
                    a(class="nav-link", href="index.html") Home
                li(class="nav-item dropdown")
                    a(class="nav-link", href="about.html") About              
                li(class="nav-item dropdown")
                    a(class="nav-link", href="gallery.html") Gallery             
                li(class="nav-item dropdown")
                    a(class="nav-link", href="services.html") Services             
                li(class="nav-item dropdown")
                    a(class="nav-link", href="carList.html") Shop            
                li(class="nav-item dropdown")
                    a(class="nav-link", href="car-details.html") Car Details            
                li(class="nav-item dropdown")
                    a(class="nav-link", href="shop-cart.html") Cart            
                li(class="nav-item dropdown")
                    a(class="nav-link", href="shop-checkout.html") Checkout
                li(class="nav-item dropdown")
                    a(href="#full-page-search", class="nav-link h-icon")
                        i(class="fa fa-search")
        div(class="get-in-touch")
            h3(class="heading") Get in Touch
            div(class="media")
                i(class="flaticon-phone")
                div(class="media-body")
                    a(href="tel:0477-0477-8556-552") 0477 8556 552
            div(class="media")
                i(class="flaticon-mail")
                div(class="media-body")
                    a(href="#") info@themevessel.com
            div(class="media mb-0")
                i(class="flaticon-earth")
                div(class="media-body")
                    a(href="#") info@themevessel.com
        div(class="get-social")
            h3(class="heading") Get Social
            a(href="#", class="facebook-bg")
                i(class="fa fa-facebook")
            a(href="#", class="twitter-bg")
                i(class="fa fa-twitter")
            a(href="#", class="google-bg")
                i(class="fa fa-google")
            a(href="#", class="linkedin-bg")
                i(class="fa fa-linkedin")
